openapi: 3.1.0
info:
  title: Microsoft Active Directory (via Microsoft Graph) Applications Groups API
  description: 'Microsoft Active Directory / Microsoft Entra ID identity resources are

    accessed through the Microsoft Graph REST API at

    https://graph.microsoft.com. This specification covers core directory

    operations: users, groups, applications, service principals, directory

    roles, and group membership. Authentication is via Microsoft Entra ID

    OAuth 2.0 bearer tokens.

    '
  version: '1.0'
  contact:
    name: Microsoft Graph (Entra ID)
    url: https://docs.microsoft.com/en-us/graph/api/overview
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0
security:
- oauth2: []
tags:
- name: Groups
paths:
  /groups:
    get:
      tags:
      - Groups
      summary: List groups
      responses:
        '200':
          description: Groups
    post:
      tags:
      - Groups
      summary: Create a group
      responses:
        '201':
          description: Group created
  /groups/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      tags:
      - Groups
      summary: Get a group
      responses:
        '200':
          description: Group
    patch:
      tags:
      - Groups
      summary: Update a group
      responses:
        '204':
          description: Updated
    delete:
      tags:
      - Groups
      summary: Delete a group
      responses:
        '204':
          description: Deleted
  /groups/{id}/members:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      tags:
      - Groups
      summary: List members of a group
      responses:
        '200':
          description: Members
  /groups/{id}/members/$ref:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    post:
      tags:
      - Groups
      summary: Add a member to a group
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                '@odata.id':
                  type: string
      responses:
        '204':
          description: Added
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft Entra ID OAuth 2.0
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            User.Read.All: Read all users
            User.ReadWrite.All: Read and write all users
            Group.Read.All: Read all groups
            Group.ReadWrite.All: Read and write all groups
            Application.Read.All: Read all applications
            Application.ReadWrite.All: Read and write all applications
            Directory.Read.All: Read directory data
            Directory.ReadWrite.All: Read and write directory data
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            https://graph.microsoft.com/.default: Use app-registered Graph permissions
